.title-content {
  color: var(--endeavour);
  font-size: var(--font-24);
  font-weight: 500;
  letter-spacing: 0.2px;
  opacity: 1;
}

.mat-column-estado {
  max-width: 8% !important;
}

.mat-column-numeroDocumento {
  max-width: 15% !important;
}

.mat-column-nombre {
  max-width: 20% !important;
}

.mat-column-acciones {
  max-width: 100px !important;
}

.mat-column-correo{
  margin-right: 15px;
  max-width: 20% !important;
  word-break: break-all !important;
}

.mat-column-perfil > div {
  margin-right: 15px;
  word-break: break-all !important;
}