.box-title {
  background: var(--endeavour) 0% 0% no-repeat padding-box;
  color: var(--white);
  opacity: 1;
  text-align: center;
  padding-bottom: 1rem;
}

.text-title {
  color: var(--white);
  font-weight: 500;
}
