.box-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-visibility {
    background-color: var(--white) !important;
    padding: 0.375rem 0.75rem !important;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
  }