<form class="box-user" [formGroup]="formPassword" (submit)="guardar()">
    <div class="w-50">
        <div class="mb-3">
            <div class="alert alert-danger" role="alert" *ngIf="mostrarAlerta">
                No se puede utilizar esa contraseña
            </div>
        </div>
        <div class="w-100">
            <div class="mb-3">
                <h5>Restablecer Contraseña</h5>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="nuevaContrasenia" class="form-label">Nueva Contraseña*</label>
                    <div class="input-group mb-2">
                        <input type="password" [type]="mostrarPassword ? 'password' : 'text'" class="form-control"
                            id="nuevaContrasenia" placeholder="Nueva Contraseña" formControlName="nuevaPassword"
                            [ngClass]="{
                                'input-req': isRequired('nuevaPassword') && mostrarValidasciones
                            }">
                        <i class="material-icons input-group-text password-visibility " matSuffix
                            (click)="mostrarPassword = !mostrarPassword">
                            {{mostrarPassword ? 'visibility' : 'visibility_off'}}</i>
                    </div>
                    <div *ngIf="isRequired('nuevaPassword') && mostrarValidasciones" class="msj-req">
                        {{ msgObligatorio}}
                    </div>
                    <div *ngIf="hasNumber()" class="msj-req">
                        La Contraseña debe tener mínimo un número
                    </div>
                    <div *ngIf="hasCapitalCase()" class="msj-req">
                        La Contraseña debe tener mínimo una mayúscula
                    </div>
                    <div *ngIf="hasSmallCase()" class="msj-req">
                        La Contraseña debe tener mínimo una minúscula
                    </div>
                    <div *ngIf="getNueva?.errors?.minlength" class="msj-req">
                        La Contraseña debe tener mínimo ocho caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="confirmarContrasenia" class="form-label">Confirmar Contraseña*</label>
                    <div class="input-group mb-2">
                        <input type="password" [type]="mostrarConfirmacion ? 'password' : 'text'" class="form-control"
                            id="confirmarContrasenia" minlength="8" placeholder="Confirmar Contraseña"
                            formControlName="confirmarPassword" [ngClass]="{
                            'input-req': isRequired('confirmarPassword') && mostrarValidasciones ||
                                         isRequiredEquals() && mostrarValidasciones
                        }">
                        <i class="material-icons input-group-text password-visibility " matSuffix
                            (click)="mostrarConfirmacion = !mostrarConfirmacion">
                            {{mostrarConfirmacion ? 'visibility' : 'visibility_off'}}</i>
                    </div>
                    <div *ngIf="isRequired('confirmarPassword') && mostrarValidasciones" class="msj-req">
                        {{ msgObligatorio}}
                    </div>
                    <div *ngIf="isRequiredEquals() && mostrarValidasciones" class="msj-req">
                        Las Contraseñas no son iguales
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <button class="btn btn-primary" type="submit">Restablecer</button>
        </div>

    </div>
</form>