<table hidden id="comedidamente">
    <ng-template #vacio>_______________________</ng-template>
    <ng-template #vacio2>______</ng-template>

    <tr>
        <td>
            Comedidamente me permito remitir a la señora <span *ngIf="dataReporte.nombreVictima;else vacio">
            {{dataReporte.nombreVictima | titlecase}}</span>  identificada 
            <span *ngIf="dataReporte.tipoDocumentoVictima;else vacio">{{dataReporte.tipoDocumentoVictima}}</span> 
            No. <span *ngIf="dataReporte.tipoDocumentoVictima;else vacio2">{{dataReporte.numeroDocumentoVictima}}</span>, expedida en 
            <span *ngIf="dataReporte.lugarExpedicionVictima;else vacio">{{dataReporte.lugarExpedicionVictima | titlecase}}</span>, residente en la  
            <span *ngIf="dataReporte.direccionResidenciaVictima;else vacio">{{dataReporte.direccionResidenciaVictima}}</span> barrio: 
            <span *ngIf="dataReporte.barrioVictima;else vacio">{{dataReporte.barrioVictima |titlecase}}</span>, teléfono: 
            <span *ngIf="dataReporte.telefonoVictima;else vacio">{{dataReporte.telefonoVictima}}</span>, 
            correo electrónico: <span *ngIf="dataReporte.correoElectronicoVictima;else vacio">{{dataReporte.correoElectronicoVictima}}</span>, 
            a fin de que se le brinde orientación, asesoramiento jurídico, asistencia 
            legal si es necesario y asesoría psicosocial, a través de las actividades 
            que ustedes desarrollan en el marco de los programas de prevención y abordaje
            de la violencia en el contexto de la familia, atendiendo a lo dispuesto en los
            literales b y c del artículo 8° de la Ley 1257 de 2008.
        </td>
    </tr>
</table>