<section class="background-gray rounded-basic p-4 mb-3">
  <h1 class="text-blue mb-4" style="font-size: 30px">
    CASOS PENDIENTES DE ATENCIÓN PSICOLÓGICA Y EMOCIONAL
  </h1>
  <div id="tabs" class="d-flex align-items-baseline" style="gap: 1rem">
    <div
      class="me-3"
      class="elements-tab"
      routerLink="./casos"
      routerLinkActive="elements-tab-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Casos para revisión psicológica
    </div>
  </div>
  <div></div>
</section>

<router-outlet></router-outlet>
