<table hidden
    id="preguntas-aplicables"
    >
    <tr class="header">
        <td>Preguntas aplicables: &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</td>
        <td>Casi Siempre</td>
        <td>A veces</td>
        <td>Casi Nunca</td>
    </tr>
    <tr>
        <td>1.Adaptación:<br><br> 
            ¿Usted se encuentra satisfecho(a) con el cambio que ha observado en los demás   integrantes de su familia, luego de haber acudido a la comisaría de familia? 
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Comentarios: <br><br><br><br></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>2.Participación: <br><br> 
            ¿Se encuentra satisfecho(a) con la manera como es tenida en cuenta su opinión en la toma de decisiones por parte de los integrantes de su familia y con la forma en la cual conversan y comparten con   Usted?
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Comentarios: <br><br><br><br></td>
        <td colspan="3"></td>
    </tr>
</table>

<table hidden
    id="preguntas-aplicables-2">
    <tr class="header">
        <td>Preguntas aplicables: &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</td>
        <td>Casi Siempre</td>
        <td>A veces</td>
        <td>Casi Nunca</td>
    </tr>
    <tr>
    <tr>
        <td>3.Crecimiento:  <br><br>
            ¿Usted se encuentra satisfecho(a) con el modo en que su familia acepta y ofrece apoyo a las iniciativas e intereses que usted expresa y que se refieren a su desarrollo personal?
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Comentarios: <br><br><br><br></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>4.Afecto:<br><br> 
            ¿Usted está satisfecho (a) con la forma en que los integrantes de su familia expresan sus afectos y emociones tales como tristeza, rabia, amor, entre otros, y con la manera como responden a sus expresiones emocionales?
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Comentarios: <br><br><br><br></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>5.Resolución:<br><br> 
            ¿Está satisfecho(a) con la forma como su familia y usted comparten el tiempo, el espacio, y los recursos disponibles, en especial   después de ser atendidos por la comisaría?
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Comentarios: <br><br><br><br></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>Subtotal</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total</td>
        <td colspan="3"></td>
    </tr>
</table>