<div class="background-gray rounded-basic pt-5 p-4 ps-5 pe-5 mb-3" style="margin-top: 3rem;">

    <h1 class="internal-title rounded-basic">
        Sección a cargo del área legal
    </h1>
    <form [formGroup]="form" class="ps-5 pe-5 mt-5">

        <div class="row align-items-start">
            <div class="col-12 offset mb-2">
                <strong>COMPETENCIA DEL CASO</strong>
            </div>
        </div>

        <div class="row px-0 p-3">
            <div class="row">
                <div class="col-lg-12">
                    <label class="form-label">¿El caso es competencia del ICBF?</label>
                    <div class="pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="si"
                                formControlName="competenciaIcbf" name="competenciaIcbf"
                                id="competencia_si" />
                            <label class="form-check-label form-label" for="competencia_si"> Si </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="no"
                                formControlName="competenciaIcbf" name="competenciaIcbf"
                                id="competencia_no" />
                            <label class="form-check-label form-label" for="competencia_no"> No </label>
                        </div>

                    </div>
                </div>                
            </div>

            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="observaciones" class="form-label">Observaciones (*)</label>
                        <textarea type="text" class="form-control resize-none" formControlName="observaciones"
                            placeholder="Observaciones" id="observaciones" maxlength="3000"
                            style="min-height: 150px; max-height: 150px; resize: none;" [ngClass]="{
                                'input-req':
                                maxLength('observaciones') && mostrarValidaciones ||
                                isRequired('observaciones') && mostrarValidaciones
                            }"></textarea>
                        <div *ngIf="maxLength('observaciones') && mostrarValidaciones" class="msj-req">
                            {{ msgInvalido }}
                        </div>
                        <div class="msj-req" *ngIf="isRequired('observaciones') && mostrarValidaciones">
                            {{ msgObligatorio }}
                        </div>
                        <div class="row float-end pe-3">
                            {{ f.observaciones.value?.length }}/3000
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="row mx-0 mt-5 mb-5 py-4 p-5">
    <div class="col-12 d-flex justify-content-end px-0">
        <button class="btn btn-danger px-4 ms-3" (click)="cancelar()">
            Cancelar
        </button>
        <button class="btn btn-primary px-4 ms-3" (click)="modalConfirmaCerrarActuacion()">
            Cerrar Actuaciones
        </button>
    </div>
</div>
