.deshabilitadoCampo {
  border: 0 !important;
  background-color: #e9ecef !important;
  padding: 0rem 0.75rem !important;
  box-shadow: 0px 0px 0px #00000029 !important;
}

.sombraCampoIzq {
  box-shadow: -4px 4px 6px #00000029 !important;
  height: 39px !important;
}

.tamanioIgual {
  border-color: #e9ecef !important;
  height: 40px !important;
}