<form class="box-user" [formGroup]="form" (submit)="resetPassword()">

    <div class="w-50">
        <div class="w-100">
            <div class="mb-3">
                <h5>Recuperar Contraseña</h5>
            </div>
        </div>

        <div class="mb-3">
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="email" class="form-control" id="usuario" placeholder="Usuario" formControlName="usuario"
                    maxlength="100" [ngClass]="{
                'input-req':
                  (isRequired('usuario') && mostrarValidaciones)
              }" />
                <div *ngIf="isRequired('usuario') && mostrarValidaciones" class="msj-req mt-2">
                    {{ msgObligatorio }}
                </div>
                <div *ngIf="isRequiredPattern('usuario') && mostrarValidaciones" class="msj-req mt-2">
                    {{ msgInvalido }}
                </div>
            </div>
        </div>

        <div class="mb-3 mt-5">
            <button class="btn btn-primary me-2" type="button" routerLink="/login" >Regresar</button>
            <button class="btn btn-primary" type="submit">Continuar</button>
        </div>
    </div>

</form>