#encabezado{
    border: 1px solid black;
}
td, th{
/*     text-align: justify; */
    padding: 0.4em;
    line-height: 18px;
}

.logo {
    background-color: rgb(73, 153, 255);
    color: white;
    text-align: center;
}