<ng-template #vacio>_______________________</ng-template>
<table hidden id="referencia">
    <tr>
        <td>
            El Suscrito Comisario(a) _________ de Familia, teniendo en cuenta lo informado mediante oficio 
            ____________________, reporta el caso del (la) señor(a) <span *ngIf="dataReporte.nombreVictima;else vacio">
            {{dataReporte.nombreVictima | titlecase}}</span>
        </td>
    </tr>
</table>

<table hidden id="ordena">
    <tr>
        <td>
            1.- Por intermedio del profesional de trabajo social o de desarrollo familiar, se practique Visita Domiciliaria
            con Consulta Vecinal al inmueble ubicado en la <span *ngIf="dataReporte.direccionResidenciaVictima">{{dataReporte.direccionResidenciaVictima}}</span> lo anterior
            con el fin de verificar las condiciones habitacionales, socio familiares, dinámica familiar, redes vinculadores
            y factores de riesgo y de protección de la persona <span *ngIf="dataReporte.nombreVictima;else vacio">{{dataReporte.nombreVictima | titlecase}}</span> y de la persona
            _______________________________ conforme lo informado en el oficio ________________ y averiguar
            los datos de ubicación de la persona <span *ngIf="dataReporte.nombreVictima;else vacio">{{dataReporte.nombreVictima | titlecase}}</span>.

        </td>
    </tr>

    <tr>
        <td>
            2.- Una vez realizada la visita domiciliaria y revisado el informe que allegue el profesional en trabajo social
            o de desarrollo familiar, se tramitará lo correspondiente. 

        </td>
    </tr>
</table>
