<form class="background-filter-private d-flex flex-column w-100 mb-3" [formGroup]="form" (ngSubmit)="getCitas()">

  <p class="title-medium">AGENDA: RECEPCIÓN SOLICITUDES DE SERVICIO</p>
  <p class="subtitle-medium">
    Encuentre los casos recibidos en su comisaría de familia.
  </p>

  <div class="row w-100 p-2">
    <div class="col-lg-3">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombres</label>
        <input type="text" class="form-control" formControlName="nombCiudadano" placeholder="Nombres" maxlength="50" />
      </div>
    </div>
    <div class="col-lg-3">
      <div class="mb-3">
        <label for="primera" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" formControlName="primerApellido" placeholder="Primer Apellido"
          maxlength="50" />
      </div>
    </div>

    <div class="col-lg-3">
      <div class="mb-3">
        <label for="segundo" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" formControlName="segundoApellido" placeholder="Segundo Apellido"
          maxlength="50" />
      </div>
    </div>
    <div class="col-lg-3">
      <div class="mb-3">
        <label for="numdoc" class="form-label">Número de documento</label>
        <input type="text" class="form-control" formControlName="numeroDocumento" placeholder="Número de documento" />
      </div>
    </div>

    <div class="col-lg-3">
      <div class="mb-3">
        <label for="codigo" class="form-label">Código cita</label>
        <input type="text" class="form-control" formControlName="codigoCita" placeholder="Código cita" />
      </div>
    </div>

    <div class="col-lg-3">
      <label for="fecha" class="form-label">Fecha</label>
      <div class="input-group">
        <input matInput readonly (click)="picker.open()" placeholder="DD/MM/YYYY"
          class="form-control form-control-date-Picker sinborde-DatePicker" [matDatepicker]="picker"
          formControlName="fecha" />
        <span class="input-group-text sinfondo-DatePicker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </span>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <select formControlName="estadoCita" class="form-select">
          <option [value]="null"> Seleccione un estado</option>
          <option [value]="true">Pendiente por atención</option>
          <option [value]="false"> Atendido</option>

        </select>
      </div>
    </div>


    <div class="col-lg-3">
      <div class="mb-3">
        <label for="estado" class="form-label" style="color: transparent;">Buscar</label>
        <br>
        <button type="submit" class="btn btn-primary">
          <img src="assets/images/busqueda.svg" alt="serach" class="img-fluid me-2" />
          Buscar
        </button>
      </div>
    </div>
  </div>
</form>

<div class="background-content-private p-4 mb-4">
  <div class="d-flex align-items-center mb-4" style="gap:1rem;">
    <h2 class="title-content m-0">
      RESULTADOS DE BÚSQUEDA
    </h2>
    <button class="btn btn-primary" routerLink="/registro-presolicitud">Crear Pre-Solicitud</button>
    <div class="h-100 pointer-event"
      matTooltip="• Casos a abrir por solicitud de fuentes diferentes a la víctima (denunciantes, anónimos o entidades externas)"
      matTooltipPosition="above" matTooltipHideDelay="500" matTooltipClass="blued-tooltip">
      <mat-icon class="material-icons-outlined" style="font-size: 1rem; color: #007AD5;">info</mat-icon>
    </div>
  </div>

  <div style="max-width: 372px !important">
    <app-no-data mensaje="No hay solicitudes de servicio de acuerdo a los criterios ingresados."
      *ngIf="!listaRecepcion.length && consultaRealizada"></app-no-data>
  </div>

  <aurora-table [data]="listaRecepcion" [columns]="columns" [actions]="actions" [actionsRecepcion]="enviarConfirmacionActions"
    *ngIf="listaRecepcion && listaRecepcion.length">
  </aurora-table>
</div>