<table hidden id="Numeral-1">
    <tr>
        <td>
            1. Evolución del motivo de consulta (en caso que la consulta haya sido a domicilio dejar registro por medios electrónicos como grabaciones u otros):
        </td>
    </tr>
</table>
<table hidden id="Numeral-2">
    <tr>
        <td>
            2. Dinámica familiar actual e integración de redes de apoyo por parte de los miembros de la familia: 
        </td>
    </tr>
</table>
<table hidden id="Numeral-3">
    <tr>
        <td>
            3. Experiencias puestas en práctica luego de la intervención Comisaría de Familia: 
        </td>
    </tr>
</table>
<table hidden id="Numeral-4">
    <tr>
        <td>
            4. Expectativas de cambio y prácticas asociadas al conflicto que los usuarios identifican hacia el futuro: 
        </td>
    </tr>
</table>
<table hidden id="Numeral-5">
    <tr>
        <td>
            5. Resultado/ Sugerencias o recomendaciones hechas por el profesional: 
        </td>
    </tr>
</table>