<table hidden id="titulo">
    <tr class="header">
        <td class="tdHeader">Responda SÍ o NO o NA (no aplica) en cada ítem, según sea el caso, para determinar SÍ se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección.</td>
    </tr>
    <tr class="segundo-titulo">
        <td>1. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Ordenar al agresor el desalojo de la casa de habitación que comparte con la víctima, cuando su presencia constituye una amenaza para la vida, la integridad física o la salud de cualquiera de los miembros de la familia. </td>
    </tr>
</table>
<table hidden id="titulo-medida-1">
    <tr class="segundo-titulo">
        <td>2. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Ordenar al agresor abstenerse de penetrar en cualquier lugar donde se encuentre la víctima, cuando a juicio del funcionario/a dicha limitación resulte necesaria para prevenir que aquel perturbe, intimide, amenace o de cualquier otra forma interfiera con la víctima o con los niños, niñas o adolescentes, cuya custodia provisional le haya sido adjudicada. </td>
    </tr>
</table>
<table hidden id="titulo-medida-2">
    <tr class="segundo-titulo">
        <td>3. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Prohibir al agresor esconder o trasladar de la residencia a los niños, niñas y personas con discapacidad, en situación de indefensión, miembros del grupo familiar.</td>
    </tr>
</table>
<table hidden id="titulo-medida-3">
    <tr class="segundo-titulo">
        <td>4. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Acudir a un tratamiento terapéutico para la víctima, en una institución pública o privada que ofrezca tales servicios a costa del agresor.</td>
    </tr>
</table>
<table hidden id="titulo-medida-4">
    <tr class="segundo-titulo">
        <td>5. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Obligación para el agresor de acudir a un tratamiento reeducativo y terapéutico en una institución pública o privada que ofrezca tales servicios a su costa.</td>
    </tr>
</table>
<table hidden id="titulo-medida-5">
    <tr class="segundo-titulo">
        <td>6. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Obligación para el agresor de acudir a un tratamiento reeducativo y terapéutico en una institución pública o privada que ofrezca tales servicios a su costa.</td>
    </tr>
</table>
<table hidden id="titulo-medida-6">
    <tr class="segundo-titulo">
        <td>7. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Protección temporal especial de la víctima por parte de las autoridades de policía tanto en su domicilio como en su lugar de trabajo so lo tuviere. </td>
    </tr>
</table>
<table hidden id="titulo-medida-7">
    <tr class="segundo-titulo">
        <td>8. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Ordenar a la autoridad de policía, previa solicitud de la víctima el acompañamiento a ésta para su reingreso al lugar de domicilio cuando ella se haya visto en la obligación de salir para proteger su seguridad.</td>
    </tr>
</table>
<table hidden id="titulo-medida-8">
    <tr class="segundo-titulo">
        <td>9. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Suspender al agresor la tenencia, porte y uso de armas, en caso de que estas sean indispensables para el ejercicio de su profesión u oficio, la suspensión deberá ser motivada. </td>
    </tr>
</table>
<table hidden id="titulo-medida-9">
    <tr class="segundo-titulo">
        <td>10. Medida de protección impuesta: </td>
    </tr>
    <tr class="ordenamiento">
        <td>Prohibir, al agresor la realización de cualquier acto de enajenación o gravamen de bienes de su propiedad sujetos a registro, si tuviere sociedad conyugal o patrimonial vigente. </td>
    </tr>
</table>
<table hidden id="verificar">
    <tr>
        <td>Verificar los requisitos establecidos para garantizar la efectividad de la medida de protección</td>
    </tr>
</table>
<table hidden id="explicacion-respuesta"> 
    <tr>
        <td>Responda Sí o No o NA (no aplica) en cada ítem, según sea el caso, para determinar SÍ se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección.</td>
    </tr>
</table>
<table hidden id="titulo-1" class="titulos">
    <tr>
        <td>1.1. La comisaría de familia envió copia de la medida definitiva decretada a las siguientes personas o autoridades, cuando el lugar de ingreso de la habitación de la víctima tiene sistema de control: </td>
    </tr>
</table>
<table hidden id="titulo-2" class="titulos">
    <tr>
        <td>1.2. En caso que la casa o lugar de habitación de la víctima NO tenga Sistema de control de ingreso, 
            <br>
            ¿la Comisaría de Familia ofició a la Policía Nacional para que garantice el cumplimiento de la orden? 
        </td>
    </tr>
</table>
<table hidden id="titulo-3" class="titulos">
    <tr>
        <td>1.3. Una vez recibida la respuesta a los oficios con la información de las medidas adoptadas por las autoridades, 
            <br>
            ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección? 
        </td>
    </tr>
</table>
<table hidden id="titulo-4" class="titulos">
    <tr>
        <td>
            2.1. ¿La víctima o su representante o apoderado solicitaron la fijación de la medida definitiva en los sitios determinados por la víctima?.
        </td>
    </tr>
</table>
<table hidden id="titulo-5" class="titulos">
    <tr>
        <td>
            2.2. Si la respuesta anterior fue SÍ, responda: ¿La Comisaría de Familia envió la orden de fijación de la medida definitiva decretada a los sitios que la víctima haya determinado, para que los encargados del control de entrada y salida del personal, el propietaria, arrendador o administrador o quien tenga a su cargo la responsabilidad del inmueble, den cumplimiento a la misma?.
        </td>
    </tr>
</table>
<table hidden id="titulo-6" class="titulos">
    <tr>
        <td>
            2.3. En el caso que los sitios determinados por la víctima no tengan un sistema de control de ingreso, ¿ la Comisaría de Familia ofició a los Policía Nacional para que garantice el cumplimiento de la orden?
        </td>
    </tr>
</table>
<table hidden id="titulo-7" class="titulos">
    <tr>
        <td>
            2.4. Una vez recibida la respuesta a los oficios con la información de las medidas adoptadas por las autoridades, ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-8" class="titulos">
    <tr>
        <td>
            3.1. La Comisaría de Familia ofició al ICBF para que esa entidad haya informado a todos los centros zonales a fin de impedir el otorgamiento de custodias a favor del agresor.
        </td>
    </tr>
</table>
<table hidden id="titulo-9" class="titulos">
    <tr>
        <td>
            3.2. Una vez recibida la respuesta al oficio enviado ICBF , ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-10" class="titulos">
    <tr>
        <td>
            4.1. La Comisaría de Familia expidió el oficio mediante el cual se hace la remisión a la victima al tratamiento terapéutico.
        </td>
    </tr>
</table>
<table hidden id="titulo-11" class="titulos">
    <tr>
        <td>
            4.2. ¿El agresor ha acreditado los pagos que cubran el tratamiento terapéutico realizado a la víctima? (cuando así se haya ordenado por la Comisaría). 
        </td>
    </tr>
    <tr>
        <td class="comentario">Si la respuesta fue NO, debe tener en cuenta que habiéndose ordenado el pago, esta omisión se tendrá como incumplimiento y dará lugar a las sanciones previstas, y es deber de la Comisaría de Familia orientar a la víctima sobre sus derechos. </td>
    </tr>
</table>
<table hidden id="titulo-12" class="titulos">
    <tr>
        <td>
            4.3. Una vez recibida la respuesta a los oficios solicitando la información sobre los avances en el tratamiento terapéutico, 
            <br>
            ¿Considera que se están cumpliendo los requisitos establecidos para la afectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-13" class="titulos">
    <tr>
        <td>
            5.1. La Comisaría de Familia expidió el oficio mediante el cual se hace la remisión del agresor al tratamiento terapéutico y reeducativo.
        </td>
    </tr>
</table>
<table hidden id="titulo-14" class="titulos">
    <tr>
        <td>
            5.2. Una vez recibida la respuesta a los oficios solicitando la información sobre los avances en el tratamiento terapéutico y reeducativo
            <br>
            ¿Considera que se están cumpliendo los requisitos establecidos para la afectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-15" class="titulos">
    <tr>
        <td>
            6.1. ¿El agresor ha acreditado los pagos que cubran los gastos de orientación asesoría jurídica, médica, psicológica y psíquica que requiera la víctima?
        </td>
    </tr>
    <tr>
        <td class="comentario">
            Si la respuesta fue NO, debe tener en cuenta que esta omisión se tendrá como incumplimiento y dará lugar a las sanciones previstas; y es deber de la Comisaría de familia orientar a la víctima sobre sus derechos.
        </td>
    </tr>
</table>
<table hidden id="titulo-16" class="titulos">
    <tr>
        <td>
            6.2. De acuerdo con la verificación,
            <br>
            ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-17" class="titulos">
    <tr>
        <td>
            7.1. La Comisaría de Familia expidió el oficio a la Policía Nacional para la ejecución de la medida impuesta?
        </td>
    </tr>
</table>
<table hidden id="titulo-18" class="titulos">
    <tr>
        <td>
            7.2. Una vez recibida la respuesta del oficio enviado a la Policía
            <br>
            ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-19" class="titulos">
    <tr>
        <td>
            8.1. Revise si la víctima o su representante o apoderado solicitaron el acompañamiento de la autoridad de policía para el ingreso a su lugar de domicilio.
        </td>
    </tr>
</table>
<table hidden id="titulo-20" class="titulos">
    <tr>
        <td>
            8.2. Verifique si la Comisaría de familia ofició la Policía Nacional para la ejecución de la medida impuesta.
        </td>
    </tr>
</table>
<table hidden id="titulo-21" class="titulos">
    <tr>
        <td>
            8.3. Una vez recibida la respuesta del oficio enviado a la Policía
            <br>
            ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-22" class="titulos">
    <tr>
        <td>
            9.1. Verifique si la Comisaría de familia ofició la Policía Nacional para y demás autoridades competentes de conformidad con las normas aplicables para la ejecución de la medida impuesta.
        </td>
    </tr>
</table>
<table hidden id="titulo-23" class="titulos">
    <tr>
        <td>
            9.2. Una vez recibida la respuesta a los oficios con la información de las medidas adoptadas por la Policía Nacional y demás autoridades,
            <br> 
            ¿Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-24" class="titulos">
    <tr>
        <td>
            10.1. Verifique que la víctima haya solicitado la medida identificando plenamente los bienes inmuebles objeto de la medida.
        </td>
    </tr>
</table>
<table hidden id="titulo-25" class="titulos">
    <tr>
        <td>
            10.1.1. Verifique si la Comisaría de familia solicitó esta información  a los organismos competentes para que la suministren (plazo 3 días hábiles).
        </td>
    </tr>
</table>
<table hidden id="titulo-26" class="titulos">
    <tr>
        <td>
            10.2. Si la víctima solicitó la medida e identificó los bienes, 
            <br>
            ¿El comisario/a solicitó al Juez de Familia Civil Municipal o Promiscuo Municipal para que ordenara la medida?
        </td>
    </tr>
</table>
<table hidden id="titulo-27" class="titulos">
    <tr>
        <td>
            10.3. Una vez recibida la respuesta al Juez de Familia o al Juez Civil Municipal o Promiscuo Municipal, 
            <br>
¿           Considera que se están cumpliendo los requisitos establecidos para la efectividad de la medida de protección?
        </td>
    </tr>
</table>
<table hidden id="titulo-28" class="titulos">
    <tr>
        <td>
            11. Verifique que la Comisaría de Familia haya puesto en conocimiento de la Fiscalía General de la Nación el hecho de violencia intrafamiliar.
        </td>
    </tr>
</table>
<table hidden id="preguntas">
    <tr>
        <td>Persona encargada de la vigilancia de la respectiva casa o lugar de habitación</td>
    </tr>
    <tr>
        <td>Consejo de Administración o al Comité de Convivencia</td>
    </tr>
    <tr>
        <td>Propietario</td>
    </tr>
    <tr>
        <td>Arrendador o administrador o a quien tenga a su cargo la responsabilidad del inmueble</td>
    </tr>
    <tr>
        <td>Policía Nacional</td>
    </tr>
</table>
<table hidden id="aclaraciones-1" class="aclaraciones">
    <tr>
        <td>
            Durante el seguimiento a la medida de protección, infórmele a la víctima que puede ser citada por parte de la Fiscalía para la investigación de los hechos. 
        </td>
    </tr>
</table>
<table hidden id="aclaraciones-2" class="aclaraciones">
    <tr>
        <td>
            Asegúrese que la Comisaría de Familia oficie a la Fiscalía General de la Nación anexando copia del expediente, las actuaciones realizadas y pruebas recogidas para que sirvan de insumo en la investigación judicial. 
        </td>
    </tr>
</table>
<table hidden id="aclaracion-final">
    <tr>
        <td>
            Teniendo en cuentas las medidas de protección previamente analizadas,  establecer si se ha adoptado otra medida distinta a las definidas en el Artículo 16 y 17 de la Ley 2126 del 2021, y adicional manifestar cuál es su medio de eficacia.
        </td>
    </tr>
</table>