<table hidden id="cuerpo">
    <tr>
        <td colspan="2">
            Recibida la solicitud de la(s) señora(s) ____________________identificada con
            la C.C. No. _____________ expedida en ______________, dentro del trámite de 
            la MP No. XXXXXXX de fecha _____ de __________ de 20__, una vez recibido 
            el Informe de la Policía Nacional sobre el riesgo de las víctimas y el informe
            del Hospital o EPS Régimen Contributivo o Régimen Subsidiado, la modificada 
            por la Ley 575/2000, Ley 1257 de 2008, el Decreto 1069 de 2015, Decreto Único 
            Reglamentario 780 de 2016, Decreto 1630 de 2019, Ley 2126 de 2021, que la(s) 
            víctima(s) señora(s) ________________, ha manifestado su voluntad de acogerse 
            a las medidas de atención, junto con sus hijos los NNA 1 __________________,
        </td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: center;padding-top: 20px;">RESUELVE:</td>
    </tr>

    <tr>
        <td colspan="2">
            PRIMERO: - ORTOGAR LAS MEDIDAS DE ATENCIÓN, a la señora _________________
            identificada con la C.C. No. ______________ y a sus hijos los NNA __________________ de
            ________________ de ___ edad, identificados con los NUIP__, TI __ o cédula de ciudadanía
            No. _________________________, si son personas que aun dependen económicamente de la
            víctima, discapacitadas, como son:
        </td>
    </tr>
    <tr>
        <td class="item" >
        a.
        </td>
        <td>
            Ubicación en casa de acogida, albergue, refugio o servicios hoteleros, por el término de
            seis (6) meses, contados a partir de la fecha de ingreso.

        </td>
    </tr>

    <tr>
        <td class="item">
        b.
        </td>
        <td>
            Otorgar la suma de ______________________, como subsidio monetario, por el tiempo
            que dure la ubicación.
        </td>
    </tr>
    <tr>
        <td class="item">
        c.
        </td>
        <td>
            Remitir a la EPS Régimen Contributivo o Régimen Subsidiado, para que se dé el
            correspondiente tratamiento ___________________ si sufre de alguna enfermedad, así
            mismo, se de tratamiento psicoterapéutico, por el término que dure la acogida de las
            victimas a las medidas de atención y rendir mensualmente informe de los avances en
            salud.

        </td>
    </tr>
    <tr>
        <td class="item">
        d.
        </td>
        <td>
            Ordenar a la Policía Nacional continuar con el seguimiento a las víctimas de violencia en
            el contexto familiar y rendir los correspondientes informes.

        </td>
    </tr>
    <tr>
        <td colspan="2">
            SEGUNDO: - INFORMAR a la EPS Régimen Contributivo o Subsidiado y Policía Nacional que
            por este Despacho se inició el trámite de medida de protección No. _____________ a favor de
            la(s) víctima(s) señora ___________________ y de su(s) hijos los NNA
            ______________________, o personas que dependen económicamente de la víctima, así como
            hijos en situación de discapacidad y en contra del señor ___________________ identificado con
            la C.C. No. _______________, quien reside en la ________________________.             
        </td>
    </tr>
    <tr>
        <td colspan="2">
            TERCERO: solicitar a la EPS Régimen Contributivo o Subsidiado, allegar los informes de
            seguimiento realizados al cumplimiento de las medidas de atención.
        </td>
    </tr>

    <tr>
        <td colspan="2">
            NOTIFÍQUESE Y CÚMPLASE
        </td>
    </tr>

</table>