table {
    background-color: white;
    width: 100%;
    td{
      text-align: justify;
      font-size: 14px;
      line-height: 25px;
    }
    .item{
        padding-left: 20px;
        padding-right: 10px;
        vertical-align: top;
        text-align: right;
    }
  }
