<footer class="container-fluid footer-public">
  <div class="row">
    <!--  <div class="col-lg-3 items-footer border-items align-items-center">
            <img src="assets/images/Logo_Minjusticia_Digital.svg" class="img-fluid" alt="logo" width="223" height="46" />
          </div>
    -->

    <div class="col-lg-7 items-footer border-items flex-column">
      <span class="fw-bold mb-2 text-start">Ministerio de Justicia y del Derecho</span>
      <div class="row">
        <div class="col-lg-6">
          Peticiones, Quejas, Reclamos, Denuncias, Solicitudes​​Canales de
          Atención
          <p>​​​Política de privacidad y tratamiento de datos personales</p>
        </div>
        <div class="col-lg-6">
          Teléfono Conmutador: +57 (60) 1 444 31 00
          <br />
          Línea Gratuita: 01 8000 911170
          <br />
          Calle 53 No. 13 - 27 / Bogotá D.C, Colombia​ Código Postal 110231
        </div>
      </div>
    </div>

    <div class="col-lg-2 items-footer align-items-center">
      <img src="assets/images/Logo_UNDP_Azul.svg" class="mt-2" alt="logo" width="38" height="76" />
    </div>
  </div>
</footer>
